@media (max-width: 800px) {
  #menu-btn {
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 35px;
    width: 35px;
    height: 35px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  #menu-btn #burger {
    position: fixed;
    top: 35px;
    left: 35px;
    width: 35px;
    height: 3px;
    background: #EEE;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  #menu-btn #burger::before {
    content: "";
    position: fixed;
    top: 25px;
    width: 35px;
    height: 3px;
    background: #EEE;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  #menu-btn #burger::after {
    content: '';
    position: fixed;
    top: 45px;
    width: 25px;
    height: 3px;
    background: #EEE;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  #menu-btn #burger.open {
    background: transparent;
  }
  #menu-btn #burger.open::before {
    -webkit-transform: rotate(45deg) translate(8px, 8px);
            transform: rotate(45deg) translate(8px, 8px);
  }
  #menu-btn #burger.open::after {
    width: 35px;
    -webkit-transform: rotate(-45deg) translate(6px, -7px);
            transform: rotate(-45deg) translate(6px, -7px);
  }
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  background: #eee;
}

header {
  margin-top: 50px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

article {
  font-size: 15px;
  line-height: 24px;
}

nav#navbar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 230px;
  background: #448AFF;
  color: whitesmoke;
  border: 2px solid blue;
}

nav#navbar header {
  width: 200px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 50px;
  font-size: 22px;
}

nav#navbar ul li {
  margin-left: 30px;
  list-style-type: none;
  text-align: left;
}

nav#navbar ul li a.nav-link {
  line-height: 40px;
  font-size: 16px;
  text-decoration: none;
  color: whitesmoke;
}

main#main-doc {
  margin-left: 270px;
  width: 75%;
}

@media (max-width: 800px) {
  nav#navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 75px;
    min-width: 300px;
    width: 100%;
    color: #EEE;
    border: 2px solid blue;
  }
  nav#navbar header {
    width: 300px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
    text-align: center;
  }
  nav#navbar ul {
    display: none;
    top: 65px;
    left: 0px;
  }
  nav#navbar ul.open {
    color: black;
    position: absolute;
    background: lightblue;
    width: 100%;
    z-index: 1;
  }
  nav#navbar ul li {
    width: 70%;
    text-align: center;
    font-weight: bold;
    list-style-type: none;
  }
  nav#navbar ul li.open {
    border-bottom: 1px solid blue;
  }
  nav#navbar ul li a.nav-link {
    line-height: 40px;
    font-size: 16px;
    text-decoration: none;
    color: whitesmoke;
  }
  nav#navbar ul li a.nav-link.open {
    border-bottom: 2px solid red;
  }
  main#main-doc {
    margin-top: 100px;
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
  }
}
/*# sourceMappingURL=main.css.map */