@import "config", "menu";

body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  background: #eee;
}


header {
  margin-top: 50px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

article {
  font-size: 15px;
  line-height: 24px;
}


nav#navbar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 230px;
  background: #448AFF;
  color: whitesmoke;
  border: 2px solid blue;


  header {
    width: 200px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 50px;
    font-size: 22px;
  }

  ul {
    
    li {
      margin-left: 30px;
      list-style-type: none;
      text-align: left;

      a.nav-link {
        line-height: 40px;
        font-size: 16px;
        text-decoration: none;
        color: whitesmoke;

      }
    }
  }
}

main#main-doc {
  margin-left: 270px;
  width: 75%;
  
  // section#introduction.main-section {
  //   header {
      
  //   }

  //   article {
      
  //     p {

  //     }
  //   }
  // }

  // section#w_python.main-section {
  //   header {

  //   }

  //   article {
  //     p {

  //     }
  //   }
  // }

  // section#functions.main-section {
  //   header {

  //   }

  //   article {
  //     p {

  //     }
  //   }
  // }

  // section#operaciones.main-section {
  //   header {

  //   }

  //   article {
  //     p {

  //     }

  //     code {

  //     }
  //   }
  // }

  // section#listas.main-section {
  //   header {

  //   }

  //   article {
  //     p {

  //     }

  //     code {

  //     }
  //   }
  // }

  // section#tuples.main-section {
  //   header {

  //   }

  //   article {
  //     p {

  //     }

  //     code {

  //     }
  //   }
  // }

  // section#diccionarios.main-section {
  //   header {

  //   }

  //   article {
  //     p {

  //     }

  //     code {

  //     }
  //   }
  // }

  // section#set.main-section {
  //   header {

  //   }

  //   article {
  //     p {

  //     }

  //     code {

  //     }
  //   }
  // }

  // section#strings.main-section {
  //   header {

  //   }

  //   article {
  //     p {

  //     }

  //     code {

  //     }
  //   }
  // }

  // section#print.main-section {
  //   header {

  //   }

  //   article {
  //     p {

  //     }

  //     code {

  //     }
  //   }
  // }

  // section#reference.main-section {
  //   header {

  //   }

  //   article {
  //     p {

  //     }

  //     code {

  //     }
  //   }
  // }
}

@media (max-width: 800px) { 
  nav#navbar {
    position: fixed;
    left: 0;
    top: 0;
    height: 75px;
    width: 100%;
    color: #EEE;
    border: 2px solid blue;
  
    header {
      width: 300px;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      font-size: 22px;
    }
  
    ul {
      li {
        list-style-type: none;
        text-align: left;
        a.nav-link {
          line-height: 40px;
          font-size: 16px;
          text-decoration: none;
          color: whitesmoke;
  
        }
      }
    }
  }

  main#main-doc {
    margin-top: 100px;
    width: 90%;
    margin-left: 40px;
    margin-right: 40px;
  }
}
